{% extends "Accounts/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h2>Login</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Login" />
        <!-- <input type="hidden" name="next" value="{% url 'Accounts:dashboard' %}" /> -->
    </form>
    <p>
        <a href="{% url 'Accounts:dashboard' %}">Back to dashboard</a>
        <a href="{% url 'Accounts:password_reset' %}">Forgot your password?</a>
    </p>
{% endblock content %}