{% extends "Products/base.html" %}

{% block title %}Products{% endblock %}

{% block content %}
<h2>All Products</h2>
<div>
    {% for product in products %}
        <div class="product-card">
            <a href="{% url 'Products:product_detail' product.slug %}">
                <img src="{{ product.image.url }}" alt="{{ product.title }}">
                <h3>{{ product.title }}</h3>
            </a>
            <p>${{ product.get_final_price }}</p>
        </div>
    {% empty %}
        <p>No products available.</p>
    {% endfor %}
</div>
{% endblock %}